.greentext {
  color: blue;
  }
  #maintitle {
 color:red;
 font-family: 'Kaushan Script', cursive;
}

a {
  color: brown;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
}
a:visited {}
